header {
    background-image: url(../assets/head.png);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100vh;
}

.navbar {
    border-bottom: #000000 3px solid;
    background-color: #d1fdb7;    
}

.navbar li a:link,
.navbar li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:107%;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.navbar li a:hover,
.navbar li a:active {
    border-bottom: 2px solid #e67e22; 
}

.navbar-toggler-icon {
    height: 40px;
    width: 40px;
}

h2 {
    font-size: 2.5rem;
}